---
layout: default
---


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3 title">{{ page.title }}</h1>
        {{ page.subtitle | markdownify }}
    </div>
</div>

<div class="container">
{% if page.videos %}
<h2>Video pre cvičenie</h2>

{% for video in page.videos: %}
<figure class="video_container embed-responsive embed-responsive-16by9 w-50 d-inline-block">
    <iframe class="embed-responsive-item" src="{{ video }}" allowfullscreen="true"></iframe>
</figure>
{% endfor %}
{% endif %}

{{ content }}
</div>

<script src="{{ site.baseurl }}/assets/js/labs.js"></script>

