---
layout: default
---


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3 title">{{ page.title }}</h1>
        {{ page.subtitle | markdownify }}
    </div>
</div>

<div class="container">
{% if page.video %}
<h2>Video pre cvičenie</h2>

<figure class="video_container embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{ page.video }}" allowfullscreen="true"></iframe>
</figure>
{% endif %}

{{ content }}
</div>

<script src="{{ site.baseurl }}/assets/js/labs.js"></script>

